body {
    
    background: url(../img/bridge.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    margin: auto; 
}

a{
	color: #070246;
    text-decoration: none;
}

 a:hover {
    color: #8dccff;
}

.grid-container img {
    width: 100%;
    height: auto;
    ;
}

h1{
	text-transform: capitalize;
	font-size: 50px;
}

h2 {
    text-transform: capitalize;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #cfeaff;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #c1fff4;
    display: flex;
    justify-content: space-around; 
    
}

.navbar a {    
    text-transform: uppercase;
    font-size: 2rem;
}

.container{
	  
    display: flex;
    margin: 0 auto;  
    margin-top: 5rem;  
    
}
.container-main{
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    max-width: 700px;  
}
.container-form{
    justify-content: space-between;
  }  


.blog {
    background-color: #c1fff4;    
    border: solid 20px #8dccff;
    color: #001a21;    
}

.post {
    margin: 1em;
}

.date, .author, .title {
    color: #0d3d63;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.quote {
    border-left: solid 5px #8dccff;
    padding-left: 1em;
}
